<suite name="Suite" parallel="tests">
  <test name="RegressionGC">
   <paramter name="grid" value="no"/>
  <paramter name="remoteAddr" value="http://localhost:4444"/>
  <paramter name="browserName" value="chrome"/>
  <!-- Run all the classes present in the package, here instead of classes we have changed to packages, and class to  -->
    <packages>
      <package name="script"/>
    </packages>
  </test>
  
  <test name="RegressionFF">
	   <paramter name="grid" value="no"/>
	  <paramter name="remoteAddr" value="http://localhost:4444"/>
	  <paramter name="browserName" value="firefox"/>
	  <!-- Run all the classes present in the package, here instead of classes we have changed to packages, and class to  -->
	    <packages>
	      <package name="script"/>
	    </packages>
  </test>
  
  
  
  
  
  
</suite> 
